<!DOCTYPE html>
<html>
  <head>
    <title>Word Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/jquery-1.8.0.js"></script>
    <link rel="stylesheet" href="/public/bootstrap.css" />
    <script src="/public/bootstrap.js"></script>
    <link rel="stylesheet" href="/public/app.css" />
  </head>
  <body>
